server:
  port: 8089

app:
  config:
    api-version: v1
    cross-origin: ${CROSS_ORIGIN}
    username: ${ADMIN_USERNAME}
    password: ${ADMIN_PASSWORD}

thread:
  pool:
    executor:
      config:
        core-pool-size: 20
        max-pool-size: 50
        keep-alive-time: 5000
        block-queue-size: 5000
        policy: CallerRunsPolicy

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}

redis:
  sdk:
    config:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
      pool-size: 10
      min-idle-size: 5
      idle-timeout: 30000
      connect-timeout: 5000
      retry-attempts: 3
      retry-interval: 1000
      ping-interval: 60000
      keep-alive: true

# 日志
logging:
  level:
    root: info
  config: classpath:logback-spring.xml